@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    background: linear-gradient(135deg, #3d3dbd, #1c1c4a);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.header, .footer {
    background-color: #707070;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: calc(100% - 20px);
    left: 10px;
    right: 10px;
    z-index: 1000;
}

.header {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    padding: 20px 0;
    background-color: #707070;
    color: white;
    top: 10px;
    border-radius: 10px 10px 0 0;
}

.footer {
    bottom: 10px;
    border-radius: 0 0 10px 10px;
}

.header h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 30px;
    max-width: 600px;
    width: 100%;
    margin: 80px auto 20px auto; 
    text-align: center;
}

h1 {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

input[type="text"], select {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #707070;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
}

button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px;
}

button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button.check-in {
    background-color: #a1a1a1;
}

button.check-in:hover {
    box-shadow: 0 4px 8px #45a049;
}

button.check-out {
    background-color: #a1a1a1;
}

button.check-out:hover {
    box-shadow: 0 4px 8px #e53935;
}

.icon-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    margin: 5px;
}

.icon-button img {
    width: 24px;
    height: 24px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}

.popup-content h2, .popup-content h3, .popup-content button, .popup-content select {
    color: #707070;
    font-weight: 700;
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    th, td {
        padding: 5px;
    }

    input[type="text"], select, button {
        padding: 10px;
        font-size: 16px;
    }
}
